{% extends 'base.html' %}
{% block title %}
    Forgot Password
{% endblock %}
{% block content %}
    <div class="account-pages my-4 pt-sm-5">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-8 col-lg-6 col-xl-5">
                    <div class="text-center mb-4">
                        <div class="auth-logo mb-5 d-block">
                            <img src="/static/images/logo-dark.png" alt="" height="30" class="logo logo-dark">
                            <img src="/static/images/logo-light.png" alt="" height="30" class="logo logo-light">
                        </div>
                        <h4>Reset password</h4>
                        <p class="text-muted mb-4">I will help you find your password!</p>
                    </div>
                    <div class="card">
                        <div class="card-body p-4">
                            <div class="p-3">
                                <div class="alert alert-success text-center mb-4" role="alert">
                                    Enter your email and instructions will be sent to you!
                                </div>
                                <form method="post" action="{% url 'forgot-password' %}">
                                    {% csrf_token %}
                                    <div class="mb-3">
                                        <label class="form-label">{{ form.email.label }}</label>
                                        <div class="input-group mb-3 bg-light-subtle rounded-3">
                                            <span class="input-group-text text-muted" id="basic-addon3">
                                                <i class="ri-user-2-line"></i>
                                            </span>
                                            {{ form.email }}
                                        </div>
                                        {% if form.email.errors %}
                                            <div class="alert alert-danger">{{ form.email.errors }}</div>
                                        {% endif %}
                                    </div>
                                    <div class="d-grid">
                                        <button class="btn btn-primary waves-effect waves-light" type="submit">
                                            Reset Password
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="mt-5 text-center">
                        <p>Do you remember your password?
                            <a href="{% url 'login' %}" class="fw-medium text-primary">Login</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}