{% extends 'base.html' %}

{% block title %}
    Change Password
{% endblock %}

{% block side_bar_menu %}
    {% include 'side_bar_menu.html' %}
{% endblock %}

{% block lg_flex %}
    <div class="layout-wrapper d-lg-flex">
{% endblock %}

{% block content %}
    <div class="container mt-5">
        <h3 class="text-center mb-4">Change Password</h3>
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <form id="changePasswordForm" method="POST">
                            {% csrf_token %}
                            {% for field in form %}
                                <div class="mb-3">
                                    <label for="current_password" class="form-label">{{ field.label }}</label>
                                    {{ field }}
                                </div>
                                {% if field.errors %}
                                    <div class="alert alert-danger">{{ field.errors }}</div>
                                {% endif %}
                            {% endfor %}
                            <div id="error-message" class="alert alert-danger mt-3 d-none" role="alert"></div>
                            <div class="text-center">
                                <button type="submit" class="btn btn-primary">Change Password</button>
                            </div>
                        </form>
                        <div id="success-message" class="alert alert-success mt-3 d-none" role="alert">Password changed
                            successfully!
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
{% endblock %}
{% block footer %}
    <script>
        $(document).ready(function () {
            $("#changePasswordForm").submit(function (event) {
                event.preventDefault();

                const newPassword = $("#NewPassword").val();
                const confirmPassword = $("#ConfirmNewPassword").val();

                if (newPassword !== confirmPassword) {
                    $("#error-message").removeClass("d-none").text("The new passwords do not match.");
                    return;
                } else {
                    $("#error-message").addClass("d-none");
                }

                this.submit();
            });
        });
    </script>
{% endblock %}