{% extends 'base.html' %}
{% load custom_filters %}
{% block title %}
    Chat With Decoder
{% endblock %}
{% block header %}
    <link rel="stylesheet" href="/static/css/app2.min.css">
{% endblock %}
{% block lg_flex %}
    <div class="layout-wrapper d-lg-flex">
{% endblock %}
{% block side_bar_menu %}
    {% include 'side_bar_menu.html' %}
{% endblock %}
{% block content %}
    <!-- Start User chat -->
    <div class="user-chat w-100 overflow-hidden">
        <div class="d-lg-flex">
            <!-- start chat conversation section -->
            <div class="w-100 overflow-hidden position-relative">
                <div class="p-3 p-lg-4 border-bottom user-chat-topbar">
                    <div class="row align-items-center">
                        <div class="col-sm-4 col-8">
                            <div class="d-flex align-items-center">
                                <div class="d-block d-lg-none me-2 ms-0">
                                    <a href="javascript: void(0);"
                                       class="user-chat-remove text-muted font-size-16 p-2"><i
                                            class="ri-arrow-left-s-line"></i></a>
                                </div>
                                <div class="me-3 ms-0">
                                    <img src="/static/images/users/avatar-4.jpg" class="rounded-circle avatar-xs"
                                         alt="">
                                </div>
                                <div class="flex-grow-1 overflow-hidden">
                                    <h5 class="font-size-16 mb-0 text-truncate">
                                        <a href="#" class="text-reset user-profile-show">
                                            ChatVia
                                        </a>
                                    </h5>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-8 col-4">
                            <ul class="list-inline user-chat-nav text-end mb-0">
                                <li class="list-inline-item">
                                    <div class="dropdown">
                                        <button class="btn nav-btn dropdown-toggle" type="button"
                                                data-bs-toggle="dropdown" aria-haspopup="true"
                                                aria-expanded="false">
                                            <i class="ri-search-line"></i>
                                        </button>
                                        <div class="dropdown-menu p-0 dropdown-menu-end dropdown-menu-md">
                                            <div class="search-box p-2">
                                                <input type="text" class="form-control bg-light border-0"
                                                       placeholder="Search..">
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="list-inline-item">
                                    <div class="dropdown">
                                        <button class="btn nav-btn dropdown-toggle" type="button"
                                                data-bs-toggle="dropdown" aria-haspopup="true"
                                                aria-expanded="false">
                                            <i class="ri-more-fill"></i>
                                        </button>
                                        <div class="dropdown-menu dropdown-menu-end">
                                            <a class="dropdown-item" href="#">بایگانی<i
                                                    class="ri-archive-line float-end text-muted"></i></a>
                                            <a class="dropdown-item" href="#">بی صدا شد<i
                                                    class="ri-volume-mute-line float-end text-muted"></i></a>
                                            <a class="dropdown-item" href="#">حذف<i
                                                    class="ri-delete-bin-line float-end text-muted"></i></a>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- end chat user head -->

                <!-- start chat conversation -->
                <div class="chat-conversation p-3 p-lg-4" data-simplebar="init" style="overflow-y: auto;">
                    <ul class="list-unstyled mb-0">
                        <li class="alert alert-primary text-center" id="empty-box">
                            Your Chat Box is Empty. Please Start a Conversation!
                        </li>
                    </ul>
                </div>
                <!-- end chat conversation end -->

                <!-- start chat input section -->
                <div class="chat-input-section p-3 p-lg-4 border-top mb-0">
                    <form class="row g-0">
                        {% csrf_token %}
                        <div class="col">
                            <input type="text" id="input-field"
                                   class="form-control form-control-lg bg-light border-light"
                                   placeholder="Enter Message...">
                        </div>
                        <div class="col-auto">
                            <div class="chat-input-links ms-md-2 me-md-0">
                                <ul class="list-inline mb-0">
                                    <li class="list-inline-item">
                                        <button type="button"
                                                class="btn btn-primary font-size-16 btn-lg chat-send waves-effect waves-light"
                                                onclick="sendTextToDecoder('{{ csrf_token }}')">
                                            <i class="ri-send-plane-2-fill"></i> Send
                                        </button>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </form>
                </div>
                <!-- end chat input section -->
            </div>
            <!-- end chat conversation section -->
        </div>
        <!-- End User chat -->
    </div>
    <!-- end  layout wrapper -->
    </div>
{% endblock %}
{% block footer %}
    <script>
        $(document).ready(function () {
            setTimeout(scrollToBottom, 100);

            $("#input-field").keypress(function (event) {
                if (event.which === 13) {
                    event.preventDefault();
                    sendTextToDecoder('{{ csrf_token }}');
                }
            });
        });
    </script>
{% endblock %}