{% extends 'base.html' %}
{% load custom_filters %}
{% block title %}
    Main
{% endblock %}
{% block lg_flex %}
    <div class="layout-wrapper d-lg-flex">
{% endblock %}
{% block side_bar_menu %}
    {% include 'side_bar_menu.html' %}
{% endblock %}
{% block content %}
    <!-- Start User chat -->
    <div class="user-chat w-100 overflow-hidden">
        <div class="d-lg-flex">
            <!-- start chat conversation section -->
            <div class="w-100 overflow-hidden position-relative">
                <div class="p-3 p-lg-4 border-bottom user-chat-topbar">
                    <div class="row align-items-center">
                        <div class="col-sm-4 col-8">
                            <div class="d-flex align-items-center">
                                <div class="d-block d-lg-none me-2 ms-0">
                                    <a href="javascript: void(0);"
                                       class="user-chat-remove text-muted font-size-16 p-2"><i
                                            class="ri-arrow-left-s-line"></i></a>
                                </div>
                                <div class="me-3 ms-0">
                                    <img src="/static/images/users/avatar-4.jpg" class="rounded-circle avatar-xs"
                                         alt="">
                                </div>
                                <div class="flex-grow-1 overflow-hidden">
                                    <h5 class="font-size-16 mb-0 text-truncate">
                                        <a href="#" class="text-reset user-profile-show">
                                            ChatVia
                                        </a>
                                    </h5>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-8 col-4">
                            <ul class="list-inline user-chat-nav text-end mb-0">
                                <li class="list-inline-item">
                                    <div class="dropdown">
                                        <button class="btn nav-btn dropdown-toggle" type="button"
                                                data-bs-toggle="dropdown" aria-haspopup="true"
                                                aria-expanded="false">
                                            <i class="ri-search-line"></i>
                                        </button>
                                        <div class="dropdown-menu p-0 dropdown-menu-end dropdown-menu-md">
                                            <div class="search-box p-2">
                                                <input type="text" class="form-control bg-light border-0"
                                                       placeholder="Search..">
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="list-inline-item">
                                    <div class="dropdown">
                                        <button class="btn nav-btn dropdown-toggle" type="button"
                                                data-bs-toggle="dropdown" aria-haspopup="true"
                                                aria-expanded="false">
                                            <i class="ri-more-fill"></i>
                                        </button>
                                        <div class="dropdown-menu dropdown-menu-end">
                                            <a class="dropdown-item" href="#">بایگانی<i
                                                    class="ri-archive-line float-end text-muted"></i></a>
                                            <a class="dropdown-item" href="#">بی صدا شد<i
                                                    class="ri-volume-mute-line float-end text-muted"></i></a>
                                            <a class="dropdown-item" href="#">حذف<i
                                                    class="ri-delete-bin-line float-end text-muted"></i></a>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- end chat user head -->

                <!-- start chat conversation -->
                <div class="chat-conversation p-3 p-lg-4" data-simplebar="init">
                    <ul class="list-unstyled mb-0 clearfix">
                        <div class="body_card_ch">
                            <div class="particles">
                                <div class="particle"></div>
                                <div class="particle"></div>
                                <div class="particle"></div>
                            </div>
                            <img src="/static/images/main/main-ai-photo1.webp" alt="User 1" class="card-image"
                                 width="100%" height="100%">
                            <div class="card-content">
                                <h3>Chat with Chattoya's first dedicated AI</h3>
                                <p>Version 1.1 of the suspect detection robot beta series</p>
                            </div>
                            <a href="{% url 'chat_with_pos_neg' %}">Click Me</a>
                        </div>
                        <div class="body_card_ch">
                            <div class="particles">
                                <div class="particle"></div>
                                <div class="particle"></div>
                                <div class="particle"></div>
                            </div>
                            <img src="/static/images/main/main-ai-photo2.jpg" alt="User 2" class="card-image"
                                 width="100%" height="100%">
                            <div class="card-content">
                                <h3>Chat with encryption program</h3>
                                <p>To move documents safely :)</p>
                            </div>
                            <a href="{% url 'chat_with_encryption' %}">Click Me</a>
                        </div>
                        <div class="body_card_ch">
                            <div class="particles">
                                <div class="particle"></div>
                                <div class="particle"></div>
                                <div class="particle"></div>
                            </div>
                            <img src="/static/images/main/main-ai-photo3.jpg" alt="User 3" class="card-image"
                                 width="100%" height="100%">
                            <div class="card-content">
                                <h3>Chat with decryption program</h3>
                                <p>To decode the moved messages :)</p>
                            </div>
                            <a href="{% url 'chat_with_decoder' %}">Click Me</a>
                        </div>
                    </ul>
                </div>
                <!-- end chat conversation end -->
            </div>
            <!-- end chat conversation section -->
        </div>
        <!-- End User chat -->
    </div>
    <!-- end  layout wrapper -->
    </div>
{% endblock %}